
<div class="section">
    <div class="container">
        <div class="column is-centered">

            <div class="column is-two-fifths is-offset-one-quarter">
                <h2 class="title is-1">Editing Event</h2>
  
                <%= render 'form' %>

                <%= link_to 'Show', @event %> |
                <%= link_to 'Back', events_path %>
            </div>
        </div>
    </div>
</div>




<h1></h1>

